@model List<Employee>

<h2 class="text-center mb-4">EMPLOYEES LIST</h2>

<div class="row mb-5">
    <div class="col">
        <a class="btn btn-secondary" asp-action="Employees" asp-action="Create">Add New Employee</a>
    </div>
</div>

<div class="row mb-auto">
    <table>
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
    </table>
</div>